
<div id="map"></div>

<div class="content">

	<div class="info">
		<%= form_for @spot do |f| %>
			Name: 
			<%= f.text_field :name, placeholder: "Name" %><br>
			Address: 
			<%= f.text_field :address, placeholder: "Address" %><br>
			Store hours: 
			<%= f.text_field :store_hours, placeholder: "Store Hours" %><br>
			Wifi: 
			<%= f.text_field :wifi, placeholder: "Wifi" %><br>
			Quiet: 
			<%= f.text_field :quiet, placeholder: "Quiet" %><br>
			Outlets: 
			<%= f.text_field :outlets, placeholder: "Outlets" %><br>
			Outdoor or Indoor:
			<%= f.text_field :outdoor_indoor,placeholder: "Outdoor or Indoor" %><br>

			<%= f.submit %>

		<% end %>
	</div>



	<div class="middle">
		<h1 class="name"><%= @spot["name"] %></h1>
		<%= @spot["address"] %><br><br>
	</div>


</div>

<script type="text/javascript">

    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:<%=@spot['latitude']%>, lng:<%=@spot['longitude']%>},
        zoom: 15
      });
	var marker = new google.maps.Marker({position: {lat:<%=@lat%>, lng:<%=@long%>},
		map: map,
		title: 'Your Position',
		});
	   
	   	var marker = new google.maps.Marker({position: {lat:<%=@spot['latitude']%>, lng:<%=@spot['longitude']%>}, map: map,title: '<%=@spot['name']%>'
		});

    }

</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>



