<head>
	<style type="text/css">
		html, body { height: 100%; margin: 0; padding: 0; }
		#map { height: 500px; width:100%;}
	</style>
</head>

<div id="map"></div>







<%= @user["name"] %>







<script type="text/javascript">

    var map;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat:<%=@lat%>, lng:<%=@long%>},
        zoom: 14
      });
	var marker = new google.maps.Marker({position: {lat:<%=@lat%>, lng:<%=@long%>},
		map: map,
		title: 'Your Position'
		});

	<% @fav.each do |f|%>
		var marker = new google.maps.Marker({position: {lat:<%=f['latitude']%>, lng:<%=f['longitude']%>}, map: map,title: '<%=f['name']%>'
		});
		google.maps.event.addListener(marker, 'click', function() {
	    	window.location.href = "/spots/<%=f['id']%>";
	    });

	<%end%>
    }

</script>



<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap">
</script>

